body { 
font-size:12px; 
font-family:Arial, Georgia, "Times New Roman", Times, serif; 
color:#555; 
text-align:center; 
background-color:#e2e2e2; 
} 

h6{ 
margin:0; 
font-size:12px; 
}

.calculator { 
width:94%; 
height:auto; 
overflow:hidden; 
margin:10px auto; 
border:#fff 1px solid; 
padding-bottom:10px; 
background-color:#f2f2f2; 
} 

.calculator div { 
clear:both; 
} 
.calculator ul{ 
padding:0; 
margin:5px 14px; 
border:#fff 1px solid; 
height:auto; 
overflow:hidden 
} 
.calculator li{ 
   list-style: none;
  float: left;
  width: 14.43%;
  margin: 0.5%;
  display: inline;
  line-height: 32px;
  font-size: 2rem;
  background-color: #eaeaea;
  padding: 2.28%;
} 

.calculator li.dot{width: 34.4%} 

.calculator li.tool{ 
background-color:#96AEEA; 
} 
.calculator li.equal{ 
background-color:#FAA227; clear 
} 

.calculator li.clear , .calculator li.delete{ 
background-color:#FF7C6F;  
}

.calculator li.remainder{
	background: #A2FF95;
}

.calculator li:hover{ 
background-color:#f9f9f9; 
cursor:pointer; 
} 
.calculator li:active{ 
background-color:#fc0; 
cursor:pointer; 
} 
.calculator li.tool:active{ 
background-color:#d8e8ff; 
cursor:pointer; 
} 
.calcu-head { 
text-align:left; 
padding:10px 15px 5px; 
}


.imyeah { 
float:right; 
color:#ccc; 
} 
.imyeah a{ 
color:#ccc; 
} 
.screen{ 
width:97%; 
height:50px; 
line-height:50px; 
padding:4px; 
margin:10px auto; 
direction:ltr; 
text-align:right; 
font-size:3em; 
color:#999; 
background: #fff;
} 
.calcu-foot{ 
text-align:left; 
padding:10px 15px 5px; 
height:auto; 
overflow:hidden; 
} 

span.welcome{ 
clear:both; 
color:#999; 
} 
span.welcome a{ 
float:right; 
color:#999; 
} 